@font-face {
  font-family: "WenSolata Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./woff2/WenSolataMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "WenSolata Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./woff2/WenSolataMono-Bold.woff2") format("woff2");
}

.wensolata-dlig {
  font-variant-ligatures: discretionary-ligatures;
}
